$font-family-base: sans-serif;
$font-size-base: 20px;
$font-weight-base: 500;
$line-height-base: 1.4;
$body-color: #000;
$body-bg: #f9f6f3;

$headings-margin-bottom:  1.2rem;
$paragraph-margin-bottom: 0.9rem;

$dt-font-weight: 800;

$link-color: blue;
$link-decoration: none;
$link-hover-color: darken( $link-color, 10% );
$link-hover-decoration: none;
$text-muted: lighten( $body-color, 10%);

$table-cell-padding: 0.2rem;

$mobile: 600px;
