@import "variables";

.x2017_11_04_kanban_for_interaction_design {

  .hero {

    background-color: green;
    color: white;


    h1 {

      font-size: 7rem;

      @media screen and (max-width: $mobile) {

        font-size: 4rem;
      }

    }

    p {

      font-size: 2rem;
    }
  }

  .navbar {

    background-color: green;

    a {

      color: white;

      &:hover {

        color: white;
      }
    }
  }
}
