---
title: Kanban for interaction design
date: 2017-11-04 22:50 UTC
tags: Interaction Design, Design, Agile
---

- content_for :css do
  = stylesheet_link_tag 'kanban'

- content_for :hero do
  %p 看板的道

%p ... blah new job. Trying to get a grips on our daily design process and manage what is a heavy workload

%p Kanban is a system where

%p Felt we could benefit from

%p We started by

%p Then we evolved it to

%p Got feedback and sold it to other people

%p Used it

%p Abused it

%p Lessons learned
