---
title: Kanban for interaction design
date: 2017-11-04 22:50 UTC
tags: Interaction Design, Design, Agile
---

- content_for :css do
  = stylesheet_link_tag 'kanban'

- content_for :hero do
  %p デザイナーのためにかんばんをする方法

%p Working on a project where there is more than one designer or researcher, it is important to know what each other is working on.

%p Even if you are the sole designer/UX person, it is valuable to be able to communicate with other people on a project what you are working on and your current priorities.

%p This is something I have been experimenting with at work with a colleague.

%h2 Todo, doing, done

%p If you've worked on a software project before, you may have encountered Kanban boards.

%p The simplest Kanban boards are often structured in three columns of "todo", "doing", "done".

%p Jobs or tasks are written on cards which sit within one of these columns. The cards move across the board as they change status.

%p Like many workflows ours didn't feel like it fit with this simplisitic structure. But we did feel like this technique could help us structure our work, let us track it as well as communicate the problems we were working on.

%h2 First interation

%h2 Building a comprehensive flow

%h2 Designing the cards

%p When we talked through the board with our product owner, they mentioned that it would be really valuabe for them, to be able to quickly see where design issues or tasks came from.

%p This felt like that a great idea. On each card we added a "referral" tag. This one-line tag, indicated where the problem or task came from.

%h2 Simplifying the visual structure 秩序

%p This could be from a user testing lab, an accessibiliy review or an internal or external process or team.



%p Used it

%p Abused it

%p Lessons learned
