---
title: Kanban for interaction design
date: 2017-11-04 22:50 UTC
tags: Interaction Design, Design, Agile
published: false
---

- content_for :css do
  = stylesheet_link_tag 'kanban'

- content_for :hero do
  %p
    デザイナーのためにかんばんをする方法

%p
  Recently at work I have been using a Kanban board with a fellow designer to manage our design work.

%p
  Although early days, we have found it to be a real help and it has garnered some interest beyond the project we are on.

%p We started the board with the following goals:

%ul
  %li Track what each other is working on
  %li Record our design reviews and comments
  %li Better develop our design process (using hypotheses)
  %li Record design decisions and evidence for them
  %li Show our process to the rest of the project
  %li Be able to (visually) organise and  priortise design work
  %li Involve our Product Owner in priortising what design work was being focused on

%p Even if you are the sole designer/UX person, it is valuable to be able to communicate with other people on a project what you are working on and your current priorities.

%p The board has helped us structure our work and track it better, as well as expose that workflow to other members of the team.

%p It has also shown us where our design bottlenecks are, and what things we need to swarm on together to speed up and get done.

%p It takes discipline to maintain but provides real value if you do.

%h2#so_what_is_kanban So, what is Kanban?

%p
  If you've worked on a software project before, you may have encountered
  %a{:href => "https://www.atlassian.com/agile/kanban"}Kanban boards.

%p On a Kanban board, items (jobs, tasks or anything) are written on cards which sit on a board in a set of columns. Each column has a label indicating the cards status or activity. The cards move across the board as they change status.

%p The simplest Kanban boards are structured in three columns of "todo", "doing", "done". Often this board structure then evolves with a "backlog" or "ideas" column preceeding the todo column for ideas to be stored.

%div.todo-board
  %div
    %h3.h4.title
      Ideas
  %div
    %h3.h4.title
      Todo
  %div
    %h3.h4.title
      Doing
  %div
    %h3.h4.title
      Done

%p Like many workflows ours didn't feel like it fit with this simplisitic structure. But we did feel like this technique could help us structure our work.

%h2#how_we_implemented_kanban How we implemented Kanban

%p The first step we took was to sketch out the phases a bit of design work would go through.

%p I had a collection of scribbled notes on our design process written on the train.  We collected those together and tried to get some general agreed phases.

%p To test if it would work we realised we needed to get this on a whiteboard.

%p We found some whiteboard space (a precious commodity) and started to draw our board up.

%p
  We both knew this was going to be a long journey. There was also a risk of exposing our work too early and receiving too much input too soon. It's better to get something up and public. The risk was worth the reward.

%h3 First implementation

%p After going backwards and forwards over the column names, we sketched out our board and added some cards.

%p IMAGE

%p The idea behind the columns where:

%ol{:id => "first-implementation"}
  %li
    %h4 Backlog
    %p The is where our ideas live. Design hypotheses. Components to look into and explore. Things to optimise. Bugs or "That's not great is its".
  %li
    %h4 Elaborate
    %p The phase where we are actively working on a problem, but exploring the shape and size of it. Looking at current solutions and the reasons they exist, as well as other people's.

  %li
    %h4 Refine
    %p Here we are refining our ideas into testable chunks of work. Sketching paper prototypes. Thinking how a problem might be solved but an iterative area of work.
  %li
    %h4 Build
    %p The stage where we formally think an idea is worth pursuing. We have a hypothesis, we have refined it and now want to build something formally to test and review
  %li
    %h4 Review
    %p Formal review time. Either with a fellow designer or a member of the product team (or programme or beyond).
  %li
    %h4 Test/Evaluate
    %p Time to get it in front of people and work out if it has the desired outcomes.
  %li
    %h4 Done
    %p All work finished. Idea explored, built, reviewed, tested with users.

%p We got something up. And the second we did we saw what we felt was right, but also what we felt was missing.

%p We didn't know where and by whom something was reviewed. Nor did we get a good sense of what was bouncing around after review.

%p We also wanted to ensure our process was repeatable. Repeating high value things like documenting design decisions. We wanted to have that explicit, rather than implicit.

%p As designers we're part of the board and ceremonies for the development team. Our work feeds into the Scrum/Kanban flow of the development board, but we help with frontend tickets too.

%p It was clear immediately that the development board of the project we were on had informed us.

%p We had copied some of the naming conventions and flow. It felt like it captured some of what we wanted to do, but not enough.

%h3 Exposing the workflow

%p We had started using the board. As we used it and explained it, it felt like there needed to be an iterative pattern or process in the middle.

%p In hindsight, this is where we got a little too complicated early on. We knew we would see real value in exposing the iterative nature of our work. We struggled to find that balance.

%p
  Having looked for other examples of designers using Kanban, I stumbled across
  = succeed "." do
    %a{:href => "/"}this blog post about Kanban
  It explained how Conceptboard had used it.

%p I thought the Z-shaped pattern quite interesting.  It showed the iterative pattern of a design artefact going through rounds of review and refinement.

%p Inspired by this, we created a less-conventional Kanban design that looked like the below:

%div.z-board
  %div.backlog
    %h3.h4.title
      Backlog
  %div.research
    %h3.h4.title
      Research
  %div.design
    %h3.h4.title
      Design
    %div.inner-row
      %h4
        Prototype
    %div.inner-row
      %h4
        Refine
  %div.review
    %h3.h4.title
      Review
    %div.inner-row
      %h4
        Design
    %div.inner-row
      %h4
        Project
    %div.inner-row
      %h4
        External
  %div.done
    %h3.h4.title
      Done
    %div.inner-row
      %h4
        Documented
    %div.inner-row
      %h4
        Shared
    %div.inner-row
      %h4
        Deployed

%p The idea behind this structure is that important sub-phases of design are exposed. The flow of a card on this board is still left to right but if a card merited it, it could fall through additional phases.

%p
  A card that goes through review would jump from
  %strong Design - Prototype
  to
  %strong Review - Design
  moving after that again into the
  %strong Design
  column but this time in the
  %strong Refine
  cell.

%p Cards would now move through a Z-shape or in a circular fashion. Their iterative journey surfaced.

%p Our second feature was the drawing out of what wanted to make sure we did with each bit of design work. The process of documenting and sharing our work and then getting it in a product (prototype or production).

%p Looking at this now it is easy for us to see the faults.  At the time we were so close to it, it took us time to step back and see what was working and what wasn't.

%p
  We sacrificed the simplicity of our board to expose the iterative flow. We had completely messed up any notion of done by filling things in that column rather.

%h3 Wider feedback

%p I now felt ready to ask for some feedback.

%p I grabbed an experienced service designer I knew and walked him through the board.

%p It was great to hear he loved what we were doing. He also poked and prodded the thinking behind everything.

%p
  Taking the time to explain your concept is often the quickest way to expose the holes in your thinking. This is because you have to explain your idea without your hidden assumptions and background knowledge.

%p
  The complicated nature of the flow was clear.  Not in the fact that the designer couldn't understand and appreciate the flow, but that he was completely unsure of how it would work by looking at it.

%p Another interesting point the service designer made was about our prioritisation of cards.

%p
  I mentioned that we wanted to have a sense of what was more important. Our idea was to rank cards and show that on the board with high priority cards being at the top of the
  = succeed "." do
    %strong Backlog


%blockquote
  As I was talking through the board the head of the user research profession walked by. She asked a couple of questions too. A real reminder of the amazing place that I get to work where I can casually talk to two amazing, talented and experienced individuals about a sub-project I am passionate about.

%h3 Designing the card

%p As we had been iterating our board we had been taking real design tasks through them. The design of our cards hadn't received much love or attention at this stage.

%p At first our cards consisted of their title.

%p Then we added a short description.

%p We started to toy with the idea of colour indicating the type of design work. This was something that the developer board of our project did well.

%p I grabbed our Product Owner to walk them through the board.

%p
  They appreciated the clarity into our process and what we were working on. The ability to influence and ensure things he saw down the line would be accommodated.

%p They added that it would be valuable for them to be able to see where design issues or tasks came from.

%p This felt like that a great idea. On each card we added a "referral" tag. This one-line tag, indicated where the problem or task came from.

%div.kanban-card
  %div.title
    %h4
      Title of the Kanban card
  %div.stickers
  %div.desc
    %p
      Description of the hypothesis, thing to explore or issue raised
  %div.referrer
    %p
      Originator of idea/issue (Project, Lab etc.)

%p We now had a stronger structure for our cards.

%p At this stage, it felt like an optimisation too far to use coloured cards. We knew there was value to that system of categorisation. But it felt like a premature optimisation.

%p We also had plenty of space left on the card to add things like tags, avatars and Jira numbers. And plenty of time to have finer grained categories too, further down the line.

%h3 Simplifying it

%p The board now felt like it was adding value. The cards were now easier to understand and the board was explicit at which stage our work was.

%p The development team we sit in has a very experienced Scrum Master. I felt the board and my ability to explain it was now at a point where I could expose it further and to more rigorous examination.

%p We grabbed some time and took them through the board.

%p The board received more love. But the Scrum Master also noted two things they would change:

%ul
  %li The board column structure was too hard to understand at first glance
  %li We didn't really have a real done column

%p It would have been easy to argue with the Scrum Master and say that an iterative process cannot be displayed in a linear fashion.

%p However, this was the third or fourth time we had heard something similar about the visual structure. Every time we explained it, people understood it. But we wanted this board to expose something about how we worked to our project and the wider organisation.

%p Asking the Scrum Master about other ways of displaying iterations he mentioned the use of sticky dots.

%p This idea seemed like a very neat way of indicating what had been reviewed and by whom.

%p Taking this opportunity we went back to basics. We explained our work flow and design process to the Scrum Master who scribbled on the board as we did.

%p We had another iteration

%h3 Another iteration

%p The outcome of the session with the Scrum Master meant we had an alternative way of displaying our iterative process as well as some tweaks to our columns.

%p INSERT IMAGE

%p Our column structure was:

%ol{:id => "another-iteation"}
  %li
    %h4 Backlog
    %p The is where our ideas live. Design hypotheses. Components to look into and explore. Things to optimise. Bugs or "That's not great is its".
    %p With the product team, we routinely rank and evaluate items here. Ensuring everything has been designed and tested before being put into the product.
    %p To illustrate something is more important, it sits higher up the board.
  %li
    %h4 Research
    %p The phase where we are actively working on a problem, but exploring the shape and size of it. Looking at current solutions and the reasons they exist, as well as other people's.
  %li
    %h4 Design
    %p Here we are exploring and then refining our ideas into testable chunks of work. From sketching paper prototypes to screens or HTML.
    %p If an item has a sticky note, it has been reviewed and an indicator of an item going through some further refinement or exploration.
  %li
    %h4 Design Review
    %p Formal review time. With another designer. The idea here being that we stage a time for each and every piece of design work.
    %p Comments and suggestions are made and then saved. A sticky dot with the reviewer's initials are added.
    %p If the item is deemed to need some further work, it can go back to the design column. If it is ready for wider review or would benefit from it, it moves forward.
  %li
    %h4 Wider Review
    %p Review with the wider team/s. This ranges from informal to formal reviews with the product team to more formal processes including the wider programme, other organisations and entities.
    %p After this stage, as with the design review column, a sticky dot is added. The name or initials of the reviewers are added.
    %p The card then can return to design or move forward.
  %li
    %h4 Document
    %p A staging area where we either create or collect our design artefacts together in one place.
    %p We also add a design hypothesis (or two) to each ticket to surface our assumptions.
  %li
    %h4 User test
    %p Time to get it in front of people and work out if it has the desired outcomes.
  %li
    %h4 Done
    %p All work finished. Idea explored, built, reviewed, tested with users.

%h3 Bottlenecks

%p We found two bottlenecks very quickly with this process. Design review and document.

%p The bottlenecks were faults of our own.

%p Taking time to formally review, rather than quick glances, slowed things down.

%p It is easy to review design work and not question enough with a colleague. To give a quick glance and a supportive remark.

%p The board highlighted that we needed to review early and often.

%p Lorem ipsum...

%h3 Documenting things

%h2 Benefits of using Kanban

%h2 Process to prototype your board
