---
title: Kanban for interaction design
date: 2017-11-04 22:50 UTC
tags: Interaction Design, Design, Agile
---

- content_for :css do
  = stylesheet_link_tag 'kanban'

- content_for :hero do
  %p
    デザイナーのためにかんばんをする方法

%p
  Recently at work I have been using a Kanban board to track and organise design work between myself and a fellow designer.

%p
  Although early days, we have found it to be a real help and it has garnered some interest beyond the project we are on.

%p
  We wanted to make sure that we could easily track what each other is working on, as well as show our process to the rest of the project. We also wanted to ensure we priortised the design work we did and involved our Product Owner in priortising what design work was being focused on.

%p
  Further to those reasons, we wanted to ensure we tracked every design decision we made, the evidence behind those decisions.

%p Even if you are the sole designer/UX person, it is valuable to be able to communicate with other people on a project what you are working on and your current priorities.

%p The board has helped us structure our work and track it better, as well as expose that workflow to other members of the team.

%h2#so_what_is_kanban So, what is Kanban?

%p
  If you've worked on a software project before, you may have encountered
  %a{:href => "https://www.atlassian.com/agile/kanban"}Kanban boards.

%p On a Kanban board, items (jobs, tasks or anything) are written on cards which sit on a board in a set of columns. Each column has a label indicating the cards status or activity. The cards move across the board as they change status.

%p The simplest Kanban boards are often structured in three columns of "todo", "doing", "done". Often this board structure then evolves with a "backlog" or "ideas" column preceeding the todo column for ideas to be stored before they are worked on.

%div.todo-board
  %div
    %h3.h4.title
      Ideas
  %div
    %h3.h4.title
      Todo
  %div
    %h3.h4.title
      Doing
  %div
    %h3.h4.title
      Done

%p Like many workflows ours didn't feel like it fit with this simplisitic structure. But we did feel like this technique could help us structure our work.

%h2#how_we_implemented_kanban How we implemented Kanban

%h3 First implementation

%h3 Exposing the workflow

%h3 Designing the card

%div.kanban-card
  %div.title
    %h4
      Title of the Kanban card
  %div.stickers
    %span.design-review
    %span.wider-review
  %div.desc
    %p
      Description of the hypothesis, thing to explore or issue raised
  %div.referrer
    %p
      Originator of idea/issue (Project, Lab etc.)

%p When we talked through the board with our product owner, they mentioned that it would be really valuabe for them, to be able to quickly see where design issues or tasks came from.

%p This felt like that a great idea. On each card we added a "referral" tag. This one-line tag, indicated where the problem or task came from.

%h3 Simplifying it

%h3 Documenting things

%h3 Reviews and iterations

%h2 Benefits of using Kanban
